.anecdotes {
  position: fixed;
  bottom: 0;
  right: 0;

  @include on-nav-collapse {
    display: none;
  }

  &-item {
    display: none;
  }

  &-close {
    display: none;
    position: absolute;
    right: 0;
    background: transparent;
    border: 0;
    color: #fff;
  }

  &-next {
    @include appearance(none);
    margin-right: 1rem;
    padding: 1rem 1.5rem;
    background: rgba(#000, 0.85);
    border: 0;
    color: #fff;
  }

  &.active {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    top: 0;
    left: 0;
    background: rgba(#000, 0.85);
    color: #fff;
  }

  &.active &-inner {
    position: relative;
    max-width: 36rem;
    padding: 2rem;
  }

  &.active &-close {
    display: inline-block;
  }

  &.active &-next {
    background: #fff;
    color: #000;
  }
}
