.navigation {
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);
  width: $navigation-width;
  padding: 1rem;
  font-variant: small-caps;
  text-transform: lowercase;

  &-list {
    @extend %list-unstyled;
    @include display(flex);
    @include flex-direction(column);
    height: 600px;
    background: rgba(#000, 0.1);
    border-radius: 0.5rem;
    overflow: hidden;
  }

  &-item {
    @include flex(1 1 0%);
    @include display(flex);
    border-top: 2px solid darken(#fff, 15%);

    &:first-child {
      border-top: 0;
    }

    &.active {
      border-color: $color-primary;

      + li {
        border-color: $color-primary;
      }
    }
  }

  &-item:last-child:after {
    content: normal;
  }

  a {
    @include flex(1 1 0%);
    @include display(flex);
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);
    padding: 1rem 0;
    text-decoration: none;
    color: rgba(#000, 0.5);

    &:hover,
    &:focus {
      color: #000;
    }
  }

  &-item.active a {
    background: $color-primary;
    color: #fff;
  }

  svg {
    margin-bottom: 0.5rem;
    fill: currentColor;
  }
}
