<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <!-- hide from search engines -->
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width">
    {% seo title=false %}
    <link rel="stylesheet" href="{{ site.baseurl }}/styles/main.css?{{ site.time | date: '%s%N' }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/svg4everybody/2.1.1/svg4everybody.min.js"></script>
  </head>
  <body>
    <!-- https://github.com/philipwalton/flexbugs#3-min-height-on-a-flex-container-wont-apply-to-its-flex-items -->
    <div class="flex-wrapper">
      <div class="wrapper">
        <nav class="navigation">
          <ol class="navigation-list">
            {% for n in site.data.navigation %}
            <li class="navigation-item{% if n.id == page.id or n.id == page.subnav %} active{% endif %}">
              <a href="{{ site.baseurl }}/{% if n.id != 'about' %}{{ n.id }}{% endif %}">
                <svg class="navigation-icon" role="presentation" width="48" height="48">
                  <use xlink:href="{{ site.baseurl }}/images/icons.svg#{{ n.id }}" />
                </svg>
                <span class="navigation-label">{{ n.name }}</span>
              </a>
            </li>
            {% endfor %}
          </ol>
        </nav>
        <main class="main">
          <h1>{{ page.title }}</h1>

          {% if page.subnav %}
          {% assign nav_item = site.data.navigation | where:"id":page.subnav | first %}
          <ul class="subnavigation">
          {% for n in nav_item.items %}
            <li class="subnavigation-item{% if n.id == page.id %} active{% endif %}">
              <a href="{{ site.baseurl }}/{{ page.subnav }}/{{ n.id }}">
                {{ n.name }}
              </a>
            </li>
          {% endfor %}
          </ul>
          {% endif %}

          {{ content }}

        </main>
      </div>
    </div>
    <script>svg4everybody()</script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-90337497-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
