<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <!-- hide from search engines -->
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width">
    {% seo title=false %}
    <link rel="stylesheet" href="{{ site.baseurl }}/styles/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/svg4everybody/2.1.1/svg4everybody.min.js"></script>
  </head>
  <body>
    <!-- https://github.com/philipwalton/flexbugs#3-min-height-on-a-flex-container-wont-apply-to-its-flex-items -->
    <div class="flex-wrapper">
      <div class="wrapper">
        <nav class="navigation">
          <ol class="navigation-list">
            {% for n in site.data.navigation %}
            <li class="navigation-item">
              <a href="{{ site.baseurl }}/{% if n.id != 'home' %}{{ n.id }}{% endif %}">
                <svg class="navigation-icon" role="presentation" width="48" height="48">
                  <use xlink:href="{{ site.baseurl }}/images/icons.svg#{{ n.id }}" />
                </svg>
                <span class="navigation-label">{{ n.name }}</span>
              </a>
            </li>
            {% endfor %}
          </ol>
        </nav>
        <main class="main">

          {{ content }}

        </main>
      </div>
    </div>
    <div class="anecdotes">
      <div class="anecdotes-inner">
        <button class="anecdotes-close" type="button">✕</button>
        {% for a in site.data.anecdotes %}
        <div class="anecdotes-item">
          {{ a.text | markdownify }}
        </div>
        {% endfor %}
        <button class="anecdotes-next" type="button">Tell me an anecdote</button>
      </div>
    </div>
    <script>svg4everybody()</script>
    <script src="{{ site.baseurl }}/scripts/main.js"></script>
  </body>
</html>
